h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: brown;
    text-decoration: underline;
    font-size: 50px;
    font-weight: 60;
}
body{
    background-color: darkgray;
    
}
img{
    width: 800px;
    height: auto;
}
